<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="description" content="Electron Angular Webpack Demo App">
		<base href="<%= htmlWebpackPlugin.options.baseHref %>">
		<title>Electron Angular Webpack</title>
        <link rel="stylesheet" href="global.scss">
    </head>

	<body>
		<demo-app>Loading ...</demo-app>
	</body>

</html>